<html>
    <head>
        <title>jBlob Card Packs</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet" href="/css/index.css" />
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
  <body>
    <div id="dailyPackOpen">
      <img
        id="dailyPackPic"
        onclick="openDailyPack2()"
        src="images/cards/dailypack.png"
        height="300vh"
        width="300vw "
      />
      <p id="pullsInfoP">Click to open!</p>
    </div>
  </body>
  <script src="/js/variables.js"></script>
  <script src="/js/packs.js"></script>


</html>
