<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/css/index.css" />
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script> 
      $(function(){
        $("#battle").load("/html/battle.html"); 
      });
    </script>
    <title>jBlob</title>
  </head>
  <body>

    <div id="StartScreen">
      <h1>jBlob</h1>
      <marquee id="splash" behavior="scroll" direction="left" scrollamount="30" style="width: 100%; height: 100px; font-size: 30px; color: black; text-shadow: 2px 2px 2px red;">
        You will never see this!
      </marquee>
      <br />
      <button id="PlayButton" onclick="play()">Play</button>
      <button id="ExtraButton" onclick="extra()">Extra Stuff</button>
      <br>
      <br>
      <form action="/logout" id="Logout" >
        <button type="submit" value="Logout">Logout</button>  
      </form>
    </div>

    <div id="ExtraStuff">
      <h1>jBlob Extras</h1>
      <button id="ToExtra" onclick="extra2()">Input Extra code</button>
      <button id="ToCredits" onclick="toCredits();">Credits</button>
      <button id="BackExtra" onclick="back2()">Back</button>
      
      <div id="ExtraCode">
        <form action="/code" method="POST">
          <input type="text" name="code" placeholder="Enter Code!" />
          <br>
          <button type="submit" value="Submit" >Gimme!</button> 
        </form>
        <br />
        <button id="BackCode" onclick="back6()">Back</button>
      </div>
    </div>

    <div id="Credits">
      <h1>Credits</h1>
      <p>Dev: </p>
      <p>Art: </p>
      <p>Music: </p>
      <button id="BackCredits" onclick="backcredits()">Back</button>
    </div>
    <!--START PLAY SCREEN-->

    <div id="PlayScreen">
      <h1>jBlob</h1>
      <br>

      
      
      <div id="WarpBar"> 
        <button>Warp Shop</button>
        <button onclick = "toBattle()">Warp Battle</button>

      </div>
      <!-- <div id="expOut" style=" width: 40%; border: 1px lightgreen solid; left: 30%; position: absolute;height: 20px;border-radius: 20px; text-align: center;">
        <div id="expIn" style="border-radius: 20px; background-color: lightgreen; width: 0px; height: 20px"></div>
      </div> -->
      <br>


      <button id="Settings">settings</button>
      <form action="/save" id="Save" >
        <button type="submit" value="Save">Save</button>
      </form> 
    </div>

    <div id="battle"></div>


    <!--END PLAY SCREEN-->


    <div id="slimepedia">
      <div id="blobpedia">
        <p>Blob:<i> A basic blob that can evolve into many different forms. Apparently good in stew.</i></p>
      </div>
      <br />
      <div id="SlimeBlobpedia">
        <p>
          Slime Blob:
          <i
            >A blob who is very slimy compared to others. Supposedly you can increase its viscosity using honey to form
            a new slime.</i
          >
        </p>
      </div>
      <br />
      <div id="SquishyBlobPedia">
        <p>Squishy Blob: <i>Squishy! Predators don't like to eat this slime because it's too chewy.</i></p>
      </div>
      <br />

      <button id="BackSlimepedia">Back</button>
    </div>

    <div id="settings">
      <h1>Settings</h1>
    </div>

    <!--Storing all excess js files-->
    <script src="/js/variables.js"></script>
    <script src="/js/blobbasics.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/cards.js"></script>



    <script>
    
    </script>
  </body>
</html>
