<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/css/index.css" />
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      $(function () {
        $("#battle").load("/html/battle.html");
      });
      $(function() {
         $("#packs").load("/html/packs.html");
      });
      $(function() {
         $("#battlescreen").load("/html/battlescreen.html");
      });
    </script>
    <title>jBlob</title>
  </head>
  <body>
    <div id="StartScreen">
      <h1>jBlob</h1>
      <marquee
        id="splash"
        behavior="scroll"
        direction="left"
        scrollamount="30"
        style="width: 100%; height: 100px; font-size: 30px; color: black; text-shadow: 2px 2px 2px red"
      >
        You will never see this!
      </marquee>
      <br />
      <button id="PlayButton" onclick="play()">Play</button>
      <button id="ExtraButton" onclick="extra()">Extra Stuff</button>
      <br />
      <br />
    </div>

    <div id="ExtraStuff">
      <h1>jBlob Extras</h1>
      <button id="ToExtra" onclick="extra2()">Input Extra code</button>
      <button id="ToCredits" onclick="toCredits();">Credits</button>
      <br />
      <br />
      <form action="/logout" id="Logout">
        <button type="submit" value="Logout">Logout</button>
      </form>
      <br />
      <button id="BackExtra" onclick="back2()">Back</button>

      <div id="ExtraCode">
        <form action="/code" method="POST">
          <input type="text" name="code" placeholder="Enter Code!" />
          <br />
          <button type="submit" value="Submit">Gimme!</button>
        </form>
        <br />
        <button id="BackCode" onclick="back6()">Exit Code</button>
      </div>
    </div>

    <div id="ExtraStuff2">
      <h1>jBlob Extras</h1>
      <button id="ToExtra" onclick="extra4()">Input Extra code</button>
      <button id="ToCredits" onclick="toCredits();">Credits</button>
      <br />
      <br />
      <form action="/logout" id="Logout">
        <button type="submit" value="Logout">Logout</button>
      </form>
      <br />
      <button id="BackExtra" onclick="back8()">Back</button>

      <div id="ExtraCode2">
        <form action="/code" method="POST">
          <input type="text" name="code" placeholder="Enter Code!" />
          <br />
          <button type="submit" value="Submit">Gimme!</button>
        </form>
        <br />
        <button id="BackCode" onclick="back9()">Exit Code</button>
      </div>
    </div>


    <div id="Credits">
      <h1>Credits</h1>
      <p>Devs:</p>
      <p>Art:</p>
      <p>Music:</p>
      <button id="BackCredits" onclick="backcredits()">Back</button>
    </div>
    <!--START PLAY SCREEN-->

    <div id="PlayScreen">
      <h1>jBlob</h1>

      <br />

      <div id="WarpBar">
        <button onclick="toShop()">Warp Shop</button>
        <button onclick="toBattle()">Warp Battle</button>
      </div>
      <!--
       <div id="expOut" style=" width: 40%; border: 1px lightgreen solid; left: 30%; position: absolute;height: 20px;border-radius: 20px; text-align: center;">
        <div id="expIn" style="border-radius: 20px; background-color: lightgreen; width: 0px; height: 20px"></div>
      </div>
    -->
      <br />

      <div id="stats">
        Level: <span id="level">1</span>
        <br />
        Exp: <span id="exp">0</span>
        <br />
        Gold: <span id="gold">0</span>
        <br />
        Resonance: <span id="resonance">0</span>
      </div>

      <div id="blobPicTeam">

      <img id="blobTeam2" src="images/blobs/basicBlob.png" height = "auto" width = "150vw "/>

      <img id="blobTeam1" src="images/blobs/basicBlob.png" height = "auto" width = "150vw "/>

      <img id="blobTeam3" src="images/blobs/basicBlob.png" height = "auto" width = "150vw "/>
      </div>


      <button id="goldhack" onclick="gold++;">Gold hack increase</button>

      <button id="Settings" onclick="extra3()">settings</button>
      <button onclick="saveGameState()">Save</button>
    </div>


    <div id="shop">
      <h1>Shop</h1>
      <div id="shopItems">
        <span id="shopItem1">
          <p>Daily</p>
          <span id="dailyAvailible"></span>
          <button id="dailyButton" onclick="window.location.href='/cardpack'">Buy</button>
        </span>
        <span id="shopItem2">
          <p>Item 2</p>
          <button onclick="buyItem2()">Buy</button>
        </span>
        <span id="shopItem3">
          <p>Item 3</p>
          <button onclick="buyItem3()">Buy</button>
        </span>
        <span id="shopItem4">
          <p>Item 4</p>
          <button onclick="buyItem4()">Buy</button>
        </span>
      </div>
      <br />
      <button id="BackShop" onclick="back7()">Back</button>
    </div>

    <div id="battle"></div>
    <div id="battlescreen"></div>

    <!--END PLAY SCREEN-->

    <div id="slimepedia">
      <div id="blobpedia">
        <p>Blob:<i> A basic blob that can evolve into many different forms. Apparently good in stew.</i></p>
      </div>
      <br />
      <div id="SlimeBlobpedia">
        <p>
          Slime Blob:
          <i
            >A blob who is very slimy compared to others. Supposedly you can increase its viscosity using honey to form
            a new slime.</i
          >
        </p>
      </div>
      <br />
      <div id="SquishyBlobPedia">
        <p>Squishy Blob: <i>Squishy! Predators don't like to eat this slime because it's too chewy.</i></p>
      </div>
      <br />

      <button id="BackSlimepedia">Back</button>
    </div>

    <div id="settings">
      <h1>Settings</h1>
    </div>

    <!--Storing all excess js files-->
    <script src="/js/variables.js"></script>
    <script src="/js/blobbasics.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/cards.js"></script>
    <script src="/js/packs.js"></script>

    <script></script>
  </body>
</html>
