<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/css/index.css" />
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>jBLOB</title>
  </head>
  <body>

    <div id="StartScreen">
      <h1>jBLOB</h1>
      <p id="splash">You will never see this!</p>
      <br />
      <button id="PlayButton" onclick="play()">Play</button>
      <button id="ExtraButton">Extra Stuff</button>
    </div>

    <div id="ExtraStuff">
      <p>V This is Draggable! V</p>
      <p id="OddEmoji">ʕ•́ᴥ•̀ʔ</p>
      <button id="BackExtra">Back</button>
      <button id="ToExtra">Input Extra code</button>
      <button id="ToCredits">Credits</button>

      <div id="ExtraCode">
        <input id="getCode" placeholder="Enter Code!" />
        <button id="SubmitCode">Gimme!</button>
        <br />
        <button id="BackCode">Back</button>
      </div>
    </div>



    <!--START PLAY SCREEN-->

    <div id="PlayScreen">
      <h1>jBlob</h1>
      <br>

      
      
      <div id="WarpBar"> 
        <button>Warp Shop</button>
        <button>Warp Battle</button>

      </div>
      <!-- <div id="expOut" style=" width: 40%; border: 1px lightgreen solid; left: 30%; position: absolute;height: 20px;border-radius: 20px; text-align: center;">
        <div id="expIn" style="border-radius: 20px; background-color: lightgreen; width: 0px; height: 20px"></div>
      </div> -->
      <br>


      <button id="Settings">settings</button>
    </div>



    <!--END PLAY SCREEN-->


    <div id="slimepedia">
      <div id="blobpedia">
        <p>Blob:<i> A basic blob that can evolve into many different forms. Apparently good in stew.</i></p>
      </div>
      <br />
      <div id="SlimeBlobpedia">
        <p>
          Slime Blob:
          <i
            >A blob who is very slimy compared to others. Supposedly you can increase its viscosity using honey to form
            a new slime.</i
          >
        </p>
      </div>
      <br />
      <div id="SquishyBlobPedia">
        <p>Squishy Blob: <i>Squishy! Predators don't like to eat this slime because it's too chewy.</i></p>
      </div>
      <br />

      <button id="BackSlimepedia">Back</button>
    </div>

    <div id="settings">
      <h1>Settings</h1>
    </div>

    <!--Storing all excess js files-->
    <script src="/js/main.js"></script>
    <script src="/js/variables.js"></script>
    <script src="/js/blobbasics.js"></script>


    <script>
      //toasts are for achievements and leveling.
      const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        },
      });
    </script>
  </body>
</html>
