<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/css/index.css" />
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>jBLOB</title>
  </head>
  <body>

    <div id="MyBlobs">
      <div id="BlobP">
        <img src="Images/Slimes and Blobs/blob.png" />
        <p id="BlobCount"></p>
      </div>
      <div id="SlimeBlobP">
        <img src="Images/Slimes and Blobs/slimeBlob.png" />
        <p id="SlimeBlobCount"></p>
      </div>
      <div id="SquishyBlobP">
        <img src="Images/Slimes and Blobs/squishyBlob.png" />
        <p id="SquishyBlobCount"></p>
      </div>
      <div id="BronzeSlimeP">
        <img src="Images/Slimes and Blobs/bronzeSlime.png" />
        <p id="BronzeSlimeCount"></p>
      </div>
      <div id="CliffSlimeP">
        <img src="Images/Slimes and Blobs/cliffSlime.png" />
        <p id="CliffSlimeCount"></p>
      </div>
      <div id="FrankenSlimeP">
        <img src="Images/Slimes and Blobs/frankenSlime.png" />
        <p id="FrankenSlimeCount"></p>
      </div>
      <div id="VisciousSlimeP">
        <img src="Images/Slimes and Blobs/viscousSlime.png" />
        <p id="VisciousSlimeCount"></p>
      </div>
      <div id="FireBlobP">
        <img src="Images/Slimes and Blobs/fireBlob.png" />
        <p id="FireBlobCount"></p>
      </div>
      <div id="WaterBlobP">
        <img src="Images/Slimes and Blobs/waterBlob.png" />
        <p id="WaterBlobCount"></p>
      </div>
      <div id="GrassBlobP">
        <img src="Images/Slimes and Blobs/grassBlob.png" />
        <p id="GrassBlobCount"></p>
      </div>

      <div id="MegaBlobsP">
        <img src="Images/Slimes and Blobs/megaBlob.png" />
        <p id="MegaBlobCount"></p>
      </div>

      <div id="RainbowBlobsP">
        <img src="Images/Slimes and Blobs/rainbowblob.gif" />
        <p id="RainbowBlobCount"></p>
      </div>

      <div id="ChickenBlobsP">
        <img src="Images/Slimes and Blobs/chickenBlob.png" />
        <p id="ChickenBlobCount"></p>
      </div>

      <div id="DonutBlobsP">
        <p id="DonutBlobCount"></p>
      </div>

      <div id="SmokeBlobP">
        <p id="SmokeBlobCount"></p>
      </div>

      <button class="BackHome">back</button>
    </div>

    <div id="StartScreen">
      <h1>jBLOB</h1>
      <p id="splash">You will never see this!</p>
      <button id="StartButton">Start</button>
      <button id="ExtraButton">Extra Stuff</button>
    </div>

    <div id="ExtraStuff">
      <p>V This is Draggable! V</p>
      <p id="OddEmoji">ʕ•́ᴥ•̀ʔ</p>
      <button id="BackExtra">Back</button>
      <button id="ToExtra">Input Extra code</button>
      <button id="ToCredits">Credits</button>

      <div id="ExtraCode">
        <input id="getCode" placeholder="Enter Code!" />
        <button id="SubmitCode">Gimme!</button>
        <br />
        <button id="BackCode">Back</button>
      </div>
    </div>

    <div id="PlayScreen">
      <button id="save">Save</button>
      <h1>jBlob</h1>
      <img class="ScreenBlob" src="Images/Slimes and Blobs/blob.png" />
      <button id="tap" onclick="Tap()"><img src="Images/Button Icons/coin.png" /></button>

      <!--<input type="image" src="Images/Button Icons/coin.png" name="tapGold" id="tap" onclick="Tap()"/>
  -->
      <!--<button id="TapAnimate" style = "background-color:black;color:lightblue"> >>> </button>
-->
      <div id="DevHacks">
        <p>Dev Hacks</p>
        <button onclick="DevHackGold()">Gold hack</button>

        <button id="levhack" onclick="LevelHack()">Level Hack</button>
      </div>

      <div id="goldinfo">
        <p id="playername">Name:</p>
        <p id="levelcount">Level:</p>
        <p id="GoldCount">Gold count:</p>
        <p id="BlobletCount">Bloblet Count:</p>
      </div>
      
      <br>

      <div id="expOut" style=" width: 40%; border: 1px lightgreen solid; left: 30%; position: absolute;height: 20px;border-radius: 20px; text-align: center;">
        <div id="expIn" style="border-radius: 20px; background-color: lightgreen; width: 0px; height: 20px"></div>
      </div>

      <button id="shopbutton">Shop</button>
      <br />
      <br />
      <button id="GetBlobButton">Craft Blobs</button>
      <br />
      <br />
      <button id="Inventory">Inventory</button>
      <br />
      <br />
      <button id="ToSlimepedia">Slimepedia</button>
      <br />
      <br />
      <button id="ToMyBlobs"><img src="Images/Slimes and Blobs/blob.png" /></button>

      <button id="Settings">settings</button>
    </div>

    <div id="inventory">
      <button id="back">Back</button>
    </div>

    <div id="slimepedia">
      <div id="blobpedia">
        <p>Blob:<i> A basic blob that can evolve into many different forms. Apparently good in stew.</i></p>
      </div>
      <br />
      <div id="SlimeBlobpedia">
        <p>
          Slime Blob:
          <i
            >A blob who is very slimy compared to others. Supposedly you can increase its viscosity using honey to form
            a new slime.</i
          >
        </p>
      </div>
      <br />
      <div id="SquishyBlobPedia">
        <p>Squishy Blob: <i>Squishy! Predators don't like to eat this slime because it's too chewy.</i></p>
      </div>
      <br />

      <button id="BackSlimepedia">Back</button>
    </div>

    <div id="settings">
      <h1>Settings</h1>
    </div>

    <!--Storing all excess js files-->
    <script src="/js/main.js"></script>

    <script>
      function DevHackGold() {
        save["gold"] += 1000;
      }
      function LevelHack() {
        save["level"]++;
      }

      //toasts are for achievements and leveling.
      const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        },
      });
    </script>
  </body>
</html>
